USE [MIGRACION]
GO
/****** Object:  Table [gd_esquema].[Maestra]    Script Date: 23/04/2023 22:46:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [gd_esquema].[Maestra](
	[USUARIO_NOMBRE] [nvarchar](255) NULL,
	[USUARIO_APELLIDO] [nvarchar](255) NULL,
	[USUARIO_DNI] [decimal](18, 0) NULL,
	[USUARIO_FECHA_REGISTRO] [datetime2](3) NULL,
	[USUARIO_TELEFONO] [decimal](18, 0) NULL,
	[USUARIO_MAIL] [nvarchar](255) NULL,
	[USUARIO_FECHA_NAC] [date] NULL,
	[ENVIO_MENSAJERIA_NRO] [decimal](18, 0) NULL,
	[ENVIO_MENSAJERIA_DIR_ORIG] [nvarchar](255) NULL,
	[ENVIO_MENSAJERIA_DIR_DEST] [nvarchar](255) NULL,
	[ENVIO_MENSAJERIA_LOCALIDAD] [nvarchar](255) NULL,
	[ENVIO_MENSAJERIA_PROVINCIA] [nvarchar](255) NULL,
	[ENVIO_MENSAJERIA_KM] [decimal](18, 2) NULL,
	[ENVIO_MENSAJERIA_VALOR_ASEGURADO] [decimal](18, 2) NULL,
	[ENVIO_MENSAJERIA_PRECIO_ENVIO] [decimal](18, 2) NULL,
	[ENVIO_MENSAJERIA_PRECIO_SEGURO] [decimal](18, 2) NULL,
	[ENVIO_MENSAJERIA_PROPINA] [decimal](18, 2) NULL,
	[ENVIO_MENSAJERIA_TOTAL] [decimal](18, 2) NULL,
	[ENVIO_MENSAJERIA_OBSERV] [nvarchar](255) NULL,
	[ENVIO_MENSAJERIA_FECHA] [datetime] NULL,
	[ENVIO_MENSAJERIA_FECHA_ENTREGA] [datetime] NULL,
	[ENVIO_MENSAJERIA_TIEMPO_ESTIMADO] [decimal](18, 2) NULL,
	[ENVIO_MENSAJERIA_CALIFICACION] [decimal](18, 0) NULL,
	[REPARTIDOR_NOMBRE] [nvarchar](255) NULL,
	[REPARTIDOR_APELLIDO] [nvarchar](255) NULL,
	[REPARTIDOR_DNI] [decimal](18, 0) NULL,
	[REPARTIDOR_TELEFONO] [decimal](18, 0) NULL,
	[REPARTIDOR_DIRECION] [nvarchar](255) NULL,
	[REPARTIDOR_EMAIL] [nvarchar](255) NULL,
	[REPARTIDOR_FECHA_NAC] [date] NULL,
	[REPARTIDOR_TIPO_MOVILIDAD] [nvarchar](50) NULL,
	[PAQUETE_TIPO] [nvarchar](50) NULL,
	[PAQUETE_ALTO_MAX] [decimal](18, 2) NULL,
	[PAQUETE_ANCHO_MAX] [decimal](18, 2) NULL,
	[PAQUETE_LARGO_MAX] [decimal](18, 2) NULL,
	[PAQUETE_PESO_MAX] [decimal](18, 2) NULL,
	[PAQUETE_TIPO_PRECIO] [decimal](18, 2) NULL,
	[MEDIO_PAGO_NRO_TARJETA] [nvarchar](50) NULL,
	[MEDIO_PAGO_TIPO] [nvarchar](50) NULL,
	[MARCA_TARJETA] [nvarchar](100) NULL,
	[ENVIO_MENSAJERIA_ESTADO] [nvarchar](50) NULL,
	[PEDIDO_NRO] [decimal](18, 0) NULL,
	[PEDIDO_TOTAL_PRODUCTOS] [decimal](18, 2) NULL,
	[PEDIDO_PRECIO_ENVIO] [decimal](18, 2) NULL,
	[PEDIDO_TARIFA_SERVICIO] [decimal](18, 2) NULL,
	[PEDIDO_PROPINA] [decimal](18, 2) NULL,
	[PEDIDO_TOTAL_CUPONES] [decimal](18, 2) NULL,
	[PEDIDO_TOTAL_SERVICIO] [decimal](18, 2) NULL,
	[PEDIDO_OBSERV] [nvarchar](255) NULL,
	[PEDIDO_FECHA] [datetime] NULL,
	[PEDIDO_FECHA_ENTREGA] [datetime] NULL,
	[PEDIDO_TIEMPO_ESTIMADO_ENTREGA] [decimal](18, 2) NULL,
	[PEDIDO_CALIFICACION] [decimal](18, 0) NULL,
	[DIRECCION_USUARIO_NOMBRE] [nvarchar](50) NULL,
	[DIRECCION_USUARIO_DIRECCION] [nvarchar](255) NULL,
	[DIRECCION_USUARIO_LOCALIDAD] [nvarchar](255) NULL,
	[DIRECCION_USUARIO_PROVINCIA] [nvarchar](255) NULL,
	[LOCAL_NOMBRE] [nvarchar](100) NULL,
	[LOCAL_DESCRIPCION] [nvarchar](255) NULL,
	[LOCAL_DIRECCION] [nvarchar](255) NULL,
	[LOCAL_TIPO] [nvarchar](50) NULL,
	[LOCAL_LOCALIDAD] [nvarchar](255) NULL,
	[LOCAL_PROVINCIA] [nvarchar](255) NULL,
	[HORARIO_LOCAL_HORA_APERTURA] [decimal](18, 0) NULL,
	[HORARIO_LOCAL_HORA_CIERRE] [decimal](18, 0) NULL,
	[HORARIO_LOCAL_DIA] [nvarchar](50) NULL,
	[PEDIDO_ESTADO] [nvarchar](50) NULL,
	[PRODUCTO_LOCAL_CODIGO] [nvarchar](50) NULL,
	[PRODUCTO_LOCAL_NOMBRE] [nvarchar](50) NULL,
	[PRODUCTO_LOCAL_DESCRIPCION] [nvarchar](255) NULL,
	[PRODUCTO_LOCAL_PRECIO] [decimal](18, 2) NULL,
	[PRODUCTO_CANTIDAD] [decimal](18, 0) NULL,
	[CUPON_NRO] [decimal](18, 0) NULL,
	[CUPON_MONTO] [decimal](18, 2) NULL,
	[CUPON_FECHA_ALTA] [datetime] NULL,
	[CUPON_FECHA_VENCIMIENTO] [datetime] NULL,
	[CUPON_TIPO] [nvarchar](50) NULL,
	[RECLAMO_NRO] [decimal](18, 0) NULL,
	[RECLAMO_FECHA] [datetime] NULL,
	[RECLAMO_DESCRIPCION] [nvarchar](255) NULL,
	[RECLAMO_FECHA_SOLUCION] [datetime] NULL,
	[RECLAMO_SOLUCION] [nvarchar](255) NULL,
	[RECLAMO_CALIFICACION] [decimal](18, 0) NULL,
	[RECLAMO_TIPO] [nvarchar](50) NULL,
	[RECLAMO_ESTADO] [nvarchar](50) NULL,
	[OPERADOR_RECLAMO_NOMBRE] [nvarchar](255) NULL,
	[OPERADOR_RECLAMO_APELLIDO] [nvarchar](255) NULL,
	[OPERADOR_RECLAMO_DNI] [decimal](18, 0) NULL,
	[OPERADOR_RECLAMO_TELEFONO] [decimal](18, 0) NULL,
	[OPERADOR_RECLAMO_DIRECCION] [nvarchar](255) NULL,
	[OPERADOR_RECLAMO_MAIL] [nvarchar](255) NULL,
	[OPERADOR_RECLAMO_FECHA_NAC] [date] NULL,
	[CUPON_RECLAMO_NRO] [decimal](18, 0) NULL,
	[CUPON_RECLAMO_MONTO] [decimal](18, 2) NULL,
	[CUPON_RECLAMO_FECHA_ALTA] [datetime] NULL,
	[CUPON_RECLAMO_FECHA_VENCIMIENTO] [datetime] NULL,
	[CUPON_RECLAMO_TIPO] [nvarchar](50) NULL
) ON [PRIMARY]

GO
